.status {
  padding: 4px 8px;
  border-radius: 8px;
  font-size: 0.8rem;
  font-weight: bold;
  text-align: center;
  display: inline-block;
}

.status.active {
  background-color: #d1fae5;
  color: #065f46;
  border: 1px solid #065f46;
}

.status.inactive {
  background-color: #fee2e2;
  color: #991b1b;
  border: 1px solid #991b1b;
}